.page
  &__layer
    //
  &__container
    display block

  &__heading
    color indigo
    font-size 3rem
    text-shadow -3px 3px 0 fog
    // animation-duration 10s
    // animation-delay 2s
    // animation-iteration-count infinite

  &__subheading
    color charcoal
    padding 2rem
    line-height 1
    text-shadow none

  &__content
    max-width 960px
    margin 3rem auto

    & > *
      margin-bottom 1.5rem
