.parents.feature
  &__layer
    background-image url(img/parents-bw.jpg), linear-gradient(135deg, #fc0, indigo)
    //
  &__container
    //
  &__content
    //
  &__item
    //
  &__links
    //
  &__button
    //
