//- This page uses the global layout
extends ../layout/global

//- Fill in title and description for SEO
block seo
  title=seo.counselors.title
  meta(name='description', content=`${seo.counselors.description}`)
    
//- Index page specific content only
block page
  //- include ../includes/home/feature
  
  .counselors.feature__layer
    .feature__container
      h1.feature__heading Career Counselors
      h2.feature__subheading Help your students—of any age—discover different careers within a museum
      
  .page__layer
    .page__container
      .page__content
        p What if you could help your students--of any age—discover different career opportunities within distinct kinds of museums? You can do that now. Find out more about different museum careers. Check out the following video!
        
        .responsive-video-embed
          iframe( src="https://www.youtube.com/embed/J8GUYg6pwZs" frameborder="0" allowfullscreen)
            
        p On the <a href="/resources">Resources</a> page of the website, learn about employment opportunities at distinct kinds of museums. 

        
        h2.page__heading The Toy Exhibit, a book “by kids for kids”

        p This book was created in partnership with students from the Maplewood Richmond Heights School District and the American Alliance of Museums. Elementary-aged students utilizes the curriculum of “School as Museum”, in which students are exposed to museum practices throughout the school year. Students assume various museum roles to create a quality, engaging exhibit each year. The book focuses on exhibit research, development, design and installation. 

        .responsive-video-embed
          iframe( src="https://www.yumpu.com/xx/embed/view/otRKJGbXn9vDiEUQ" frameborder="0" allowfullscreen="true" allowtransparency="true")
            
        p
          a.page___button(href="http://www.blurb.com/b/7871161-the-toy-exhibit") Free eBook offer: 

        p For students who are interested in a potential career in museums, direct them to our <a href="/resources">Resources</a> page. There’s a list of local institutions and links to their programs, internships, and employment pages.
    
    
        

        h2.page__heading SALARY RANGES FOR SOME MUSEUM CAREERS

        p When considering this, these figures reflect salary ranges for people working in several different museum careers. For more information, check out the <a href="http://www.aam-us.org/"> American Alliance of Museums</a> (AAM) website

        p <span class="bold">Director/CEO/President</span> - salary ranges from $59,009 to $110,500. The person in this position provides institutional leadership.
                    
        p <span class="bold"> Vice President and Assistant Director</span> - salary ranges from $76,800 to $97,828. The person in this position assumes responsibility for several areas of administration.
                    
        p <span class="bold"> Director of Information Services &amp; Technology</span> - salary ranges from $62,500 to $94,350. The person in this position oversees general administrative responsibility for information, technology and network management.
                    
        p <span class="bold"> Facilities Director</span> - salary ranges from $48,000 to $70,000. The person in this position handles the operation and maintenance of the institution’s buildings and facilities.
                    
        p <span class="bold"> Archivist</span> - salary ranges from $41,500 to $45,614. The person in this position oversees physical and intellectual archival collections.
                    
        p <span class="bold"> Chief Curator</span> - salary ranges from $50,000 to $62,000. The person in this position handles general administration for curatorial affairs.
                    
        p <span class="bold"> Senior Curator</span> - salary ranges from $51,686 to $73,201. The person in this position provides curatorial administrative duties for important collections.
                    
        p <span class="bold"> Registrar/Collections Manager</span> - salary ranges from $42,551 to $51,006. The person in this position handles registration of collections; development and maintenance of record systems; and administration of loan transactions, including moving, storage, arranging shipping, maintenance of insurance records.
                    
        p <span class="bold"> Head Librarian</span> - salary ranges from $43,532 to $64,300. The person in this position develops and carries out library practices, policies and procedures.
                    
        p <span class="bold"> Director of Education</span> - salary ranges from $47,118 to $57,000. The person in this position supervises the overall educational function for the museum.
                    
        p <span class="bold"> Exhibition Designer/Chief of Exhibitions</span> - salary ranges from $51,028 to $73,252. The person in this position plans, designs, and manages the production of exhibits.  

        p -American Alliance of Museums, 2014 National Comparative Museum Salary Survey
