doctype html
html(class='no-js')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')

    title useumstl

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='style.css')
    //script(src='js/vendor/modernizr-2.6.2.min.js')
    script(src='countUp.js')
    script(src='waypoints.js')
    script(src='inview.min.js')

  body
    .container
      .nav__layer
        .nav__container
          a(href="#" class="nav__logo") <span>YOU</span>SEUM
          div
            a(href="#") About
            a(href="#") Resources
            a(href="#") Contact
            
      .feature__layer
        .feature__container
          h1.feature__heading <span>YOU</span>SEUM
          h2.feature__subheading Your museum data and job center
          
      #thing.data__layer
        .data__container
          .left 
            h2.data__subheading Museums contribute $21 Billion to the United States economy each year (AAM Museum Factsheet)
          .right
            h1.data__heading $
              span#count
          

    //- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    //- script window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    //- script(src='js/plugins.js')
    
    script(src='script.js')
    //- 
    //- script
    //-   (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    //-   function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    //-   e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    //-   e.src='//www.google-analytics.com/analytics.js';
    //-   r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    //-   ga('create','UA-XXXXX-X');ga('send','pageview');
