//- This page uses the global layout
extends ../layout/global

//- Fill in title and description for SEO
block seo
  title=seo.homepage.title
  meta(name='description', content=`${seo.homepage.description}`)
    
//- Index page specific content only
block page
  //- include ../includes/home/feature
  
  .homepage.feature__layer
    .feature__container
      h1.feature__heading Work at a museum
      h2.feature__subheading Here's why
      a(href="#" id="scrollButton")
        icon(name="ei-arrow-down" size="m" class="lookdown")
      
      
  #intro.jobs__layer
    .jobs__container
      .jobs__card
        h1#jobhook.jobs__heading.animated Museums are hiring!
        h2.jobs__subheading Over <span class="bold">400,000</span> Americans are employed by museums. Check out some of the sweet jobs museums have to offer:
        
        .jobs__content
          p Director, Curator, Registrar, Docent, Museum Educator, Exhibit Designer, Museum Protection Staff, Preparator, Public Relations, Show Worker, Building and Grounds Staff, Chef, Librarian, Accountant, Grant Coordinator, Housekeeper, AV Tech, HR, Membership Officer, Installer, Electrician, Carpenter, Financial Officer, Payroll Officer, Public Historian and more!
          //- .jobs__box
          //-   a.jobs__button(href="/youth.html") Watch video
          //-   a.jobs__button(href="/resources.html") See resources
  
  .stats__layer        
    .stats__container
      h1.stats__heading Did you know...
            
    .stats__container
      #stat1Box.stats__box
        .frame-border
          .frame-inset
            h3#stat1.stats__number 1,700
        h2#stat1Heading.stats__subheading people are employed by St. Louis area museums <span class='dataSource'>GuideStar</span>
        
    .stats__container
      #stat2Box.stats__box
        .frame-border
          .frame-inset
            h3#stat2.stats__number 40
        h2#stat2Heading.stats__subheading Museum and Non-profit arts and culture institutions in the St. Louis area total more than <span class='dataSource'>GuideStar</span>
        
    .stats__container
      #stat3Box.stats__box
        .frame-border
          .frame-inset
            h3#stat3.stats__number 120
        h2#stat3Heading.stats__subheading million people visit Midwest museums each year <span class='dataSource'>Midwest Museum Association Website</span>
        
    .stats__container
      #stat4Box.stats__box
        .frame-border
          .frame-inset
            h3#stat4.stats__number TRUST
        h2#stat4Heading.stats__subheading Museums are considered the most trustworthy source of information in America, rated higher than local papers, nonprofit researchers, the U.S. government, or academic researchers (22) <span class='dataSource'>Lake, Snell, Perry public opinion survey commissioned by the American Alliance of Museums (2001)</span>
      
  .gallery__layer
    .gallery__container
      h1.gallery__heading There are opportunities for everyone
      h2.gallery__subheading Just pick a path
      .gallery__gallery
        .gallery__item
          a.gallery__button.white(href="/youth.html") Youth
        .gallery__item
          a.gallery__button.white(href="/parents.html") Parents
        .gallery__item
          a.gallery__button.white(href="/teachers.html") Teachers
        .gallery__item
          a.gallery__button.white(href="/career-counselors.html") Career counselors
