//- This page uses the global layout
extends ../layout/global

//- Fill in title and description for SEO
block seo
  title=seo.homepage.title
  meta(name='description', content=`${seo.homepage.description}`)
    
//- Index page specific content only
block page
  //- include ../includes/home/feature
  
  .homepage-feature__layer
    .homepage-feature__container
      h1.homepage-feature__heading Work at a museum
      h2.homepage-feature__subheading You will love it!
      
  #thing.data__layer
    .data__container
      .left 
        h2.data__subheading Museums contribute $21 Billion to the United States economy each year (AAM Museum Factsheet)
      .right
        h1.data__heading $
          span#count
            
  .youth__layer
    .youth__container
      .left 
        h1.youth__heading Youth
      .right
        h2.youth__subheading $
          span#count
            
  .parents__layer
    .parents__container
      .left 
        h1.parents__heading Parents
      .right
        h2.parents__subheading $
          span#count
            
  .teachers__layer
    .teachers__container
      .left 
        h1.teachers__heading Teachers
      .right
        h2.teachers__subheading $
          span#count
            
  .counselors__layer
    .counselors__container
      .left 
        h1.counselors__heading Career counselors
      .right
        h2.counselors__subheading $
          span#count
            
  .resources__layer
    .resources__container
      .left 
        h1.resources__heading Resources
      .right
        h2.resources__subheading $
          span#count
            
          
