//- This page uses the global layout
extends ../layout/global

//- Fill in title and description for SEO
block seo
  title=seo.homepage.title
  meta(name='description', content=`${seo.homepage.description}`)
    
//- Index page specific content only
block page
  //- include ../includes/home/feature
  
  .homepage-feature__layer
    .homepage-feature__container
      h1.homepage-feature__heading Work at a museum
      h2.homepage-feature__subheading Here's why ->
      
      
  .jobs__layer
    .jobs__container
      .jobs__card
        h1.jobs__heading Museums are hiring!
        h2.jobs__subheading Over 400,000 Americans are employed by museums, check out all these sweet jobs: 
        .jobs__content
          p Director, Curator, Registrar, Docent, Museum Educator, Exhibit Designer, Museum Protection Staff, Preparator, Public Relations, Show Worker, Building and Grounds Staff, Chef, Librarian, Accountant, Grant Coordinator, Housekeeper, AV Tech, HR, Membership Officer, Installer, Electrician, Carpenter, Financial Officer, Payroll officer, Public Historian
      
  #thing.data__layer
    .data__container
      .left 
        h1.data__heading Did you know...
      .right
        h2.data__subheading Museums are considered the most trustworthy source of information in America!
          span  People trust museums more than Newspapers, goverment and 
          
  #thing.data__layer
    .data__container
      .left 
        h1.data__heading Did you know...
      .right
        h2.data__subheading Museums directly contribute $21 billion to the U.S. economy each year1
            
  .youth__layer
    .youth__container
      h1.youth__heading There are dozens of job roles within a Museum
      h2.youth__subheading Our Maplewood elementary students made a video to showcase all these exciting professions
  .youth__layer
    .responsive-video-embed
          iframe( src="https://www.youtube.com/embed/J8GUYg6pwZs" frameborder="0" allowfullscreen)
            
  .parents__layer
    .parents__container
      .left 
        h1.parents__heading Parents
      .right
        h2.parents__subheading $
          span#count
            
  .teachers__layer
    .teachers__container
      .left 
        h1.teachers__heading Teachers
      .right
        h2.teachers__subheading $
          span#count
            
  .counselors__layer
    .counselors__container
      .left 
        h1.counselors__heading Career counselors
      .right
        h2.counselors__subheading $
          span#count
            
  .resources__layer
    .resources__container
      .left 
        h1.resources__heading Resources
      .right
        h2.resources__subheading $
          span#count
            
          
