//- This page uses the global layout
extends ../layout/global

//- Fill in title and description for SEO
block seo
  title=seo.parents.title
  meta(name='description', content=`${seo.parents.description}`)
    
//- Index page specific content only
block page
  //- include ../includes/home/feature
  
  .parents.feature__layer
    .feature__container
      h1.feature__heading Parents
      h2.feature__subheading Help your child to prepare now for an exciting career in a museum

  .page__layer
    .page__container
      .page__content
        p Have you ever wondered how you can help your child to prepare now for an exciting career in their future? Have you considered whether it was important for your child to have a career that’s fulfilling? Have you yearned for your child to enjoy the work that he/she will do? You can do that now. Find out more about different museum careers. Check out the following video!
        
        .responsive-video-embed
          iframe( src="https://www.youtube.com/embed/J8GUYg6pwZs" frameborder="0" allowfullscreen)
        
        h2.page__heading The Toy Exhibit, a book “by kids for kids”

        p The book serves as an example of what your child can learn about the creation of a museum exhibit. In partnership with students from the Maplewood Richmond Heights School District and the American Alliance of Museums, elementary-aged students utilize the curriculum of “School as Museum”, in which students are exposed to museum practices throughout the school year. Students assume various museum roles to create a quality, engaging exhibit each year. The book focuses on exhibit research, development, design and installation.

        .responsive-video-embed
          iframe( src="https://www.yumpu.com/xx/embed/view/otRKJGbXn9vDiEUQ" frameborder="0" allowfullscreen="true" allowtransparency="true")
            
        p
          a.page___button(href="http://www.blurb.com/b/7871161-the-toy-exhibit") Free eBook offer

        p Help your child get involved in museums. Learn more. And read about various programs and opportunities designed just for kids!
        
