//- This page uses the global layout
extends ../layout/global

//- Fill in title and description for SEO
block seo
  title=seo.resources.title
  meta(name='description', content=`${seo.resources.description}`)
    
//- Index page specific content only
block page
  //- include ../includes/home/feature
  
  .resource-feature__layer
    .resource-feature__container
      h1.resource-feature__heading Resources
      h2.resource-feature__subheading To get a job or to get involved
  
  .resource__layer
    .resource__container
      .resource__content
        for item in resources
          .resource__item
            h2.resource__heading=item.name
            .resource__links
              for link in item.links
                a(href=`${link.url}` class="resource__button")=link.text
