//- This page uses the global layout
extends ../layout/global

//- Fill in title and description for SEO
block seo
  title=seo.teachers.title
  meta(name='description', content=`${seo.teachers.description}`)
    
//- Index page specific content only
block page
  //- include ../includes/home/feature
  
  .teachers.feature__layer
    .feature__container
      h1.feature__heading Teachers
      h2.feature__subheading You will love it!

  .page__layer
    .page__container
      .page__content
        
        include ../includes/global/media
