//- This page uses the global layout
extends ../layout/global

//- Fill in title and description for SEO
block seo
  title=seo.youth.title
  meta(name='description', content=`${seo.youth.description}`)
    
//- Index page specific content only
block page
  //- include ../includes/home/feature
  
  .youth-feature__layer
    .youth-feature__container
      h1.youth-feature__heading It's never to early
      h2.youth-feature__subheading to learn about museums
      
  .jobs__layer
    .jobs__container
      .jobs__card
        h1.jobs__heading.animated.bounceIn There are dozens of job roles within a Museum
        h2.jobs__subheading Our Maplewood elementary students made a video to showcase all these exciting professions
        .jobs__content
          .responsive-video-embed
                iframe( src="https://www.youtube.com/embed/J8GUYg6pwZs" frameborder="0" allowfullscreen)
      
