//- This page uses the global layout
extends ../layout/global

//- Fill in title and description for SEO
block seo
  title=seo.youth.title
  meta(name='description', content=`${seo.youth.description}`)
    
//- Index page specific content only
block page
  //- include ../includes/home/feature
  
  .youth.feature__layer
    .feature__container
      h1.feature__heading Youth
      h2.feature__subheading When you grow up, have you thought about working in a museum?
      
  .page__layer
    .page__container
      .page__content
        
        p If not, check out the following video! 
        
        .responsive-video-embed
          iframe( src="https://www.youtube.com/embed/J8GUYg6pwZs" frameborder="0" allowfullscreen)
            
        p The video was written, directed, and voiceover performed by 5th and 6th grade students of the Maplewood Richmond Heights Elementary School in St. Louis, Missouri. Students showcased different careers available in museums. 

        
        h2.page__heading The Toy Exhibit, a book “by kids for kids”

        p This book was created in partnership with students from the Maplewood Richmond Heights School District and the American Alliance of Museums. Elementary-aged students utilizes the curriculum of “School as Museum”, in which students are exposed to museum practices throughout the school year. Students assume various museum roles to create a quality, engaging exhibit each year. The book focuses on exhibit research, development, design and installation. 

        .responsive-video-embed
          iframe( src="https://www.yumpu.com/xx/embed/view/otRKJGbXn9vDiEUQ" frameborder="0" allowfullscreen="true" allowtransparency="true")
            
        p
          a.page___button(href="http://www.blurb.com/b/7871161-the-toy-exhibit") Free eBook offer
