.nav__layer
  .nav__container
    h1
      a(href="/" class="nav__logo") <span>museum jobs</span> gateway
    div
      a(href="youth.html") Youth
      a(href="parents.html") Parents
      a(href="teachers.html") Teachers
      a(href="career-counselors.html") Career Counselors
      a(href="resources.html") Resources
