.teachers
  &-feature__layer
    background-image url(img/teachers-bw.jpg), linear-gradient(135deg, green, tomato)
  //
  &__layer
    //
  &__container
    //
  &__content
    max-width 80%
    margin 3rem auto
    //
  &__item
    //
  &__links
    //
  &__button
    //
