.homepage
  &-feature__layer
    background-image url(img/museum-bw.jpg), linear-gradient(135deg, #0fc, indigo)
  //
  &__layer
    //
  &__container
    //
  &__content
    //
  &__item
    //
  &__links
    //
  &__button
    //
