.stats
  &__layer
    background-color graphite
    // background-attachment fixed
    // background-image url(img/museum-bw.jpg), linear-gradient(135deg, #0fc, indigo)
    // background-blend-mode overlay
    // background-repeat no-repeat
    // background-size cover
    //height 100vh
    padding-bottom 5rem
    position relative

  &__container
    display flex
    flex-direction column
    align-items center
    justify-content center
    height 100vh
    width 100vw

  &__heading
    padding 5rem 0

  &__number
    font-size 5rem
    text-align center

  &__subheading
    flex 2
    padding 0 2rem
    text-align left

  &__box
    align-items center
    display flex
    margin-bottom 2.5rem

    &:nth-of-type(even)
      flex-direction row-reverse

.frame-border
  position relative
  box-shadow 0 30px 36px rgba(0, 0, 0, 0.5)
  border 11px solid #ededed
  flex 1
  //width 457px
  //height 547px

.frame-inset
  box-shadow inset 0 1px 5px rgba(0, 0, 0, 0.5)
  background-color #bebebe
  border 32px solid #f5f5f5
  max-width 100%
  max-height 100%
  padding 72px 49px

  &:before
    content: ''
    display block
    position absolute
    top 0
    left 0
    z-index 999
    width 100%
    height 100%
    box-shadow inset 0 20px 20px rgba(0, 0, 0, 0.3)
