// Vars
base-font-size = 20px
base-line-height = 1.5


// Typefaces

Sans = {
  font: 'Open Sans'\, sans-serif,
  weight: {
    light: 300,
    normal: 400,
    semi: 600,
    bold: 700,
    ultra: 800
  }
}



// Line height function
line-height-function()
  base-font-size * base-line-height


// Var must be specified after returning the line-height function
cal-line-height = line-height-function()


html
  font-size base-font-size
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased


body
  color lead
  font-family: Sans.font
  line-height base-line-height
  margin 0


[class*='__heading']
  color white
  font-size 6rem
  line-height 1
  text-align center
  text-shadow -1px 1px 0 black

[class*='__subheading']
  color white
  font-size 2rem
  font-weight 100
  text-align center
  text-shadow -1px 1px 0 black

[class*='__title']
  color white
  font-size 2rem
  font-weight 100
  text-align center
  text-shadow -1px 1px 0 black


// Anchor text
a
  text-decoration: none

  &:hover
    color nightgreen
    text-decoration none


// Content Areas
[class*='content']
  // Add margin bottom to all elements inside this container
  & > *
    margin-bottom 1.5rem
