.resource
  &-feature__layer
    background-image url(img/resources-bw.jpg), linear-gradient(135deg, tomato, indigo)
  //
  &__layer
    //
  &__container
    //
  &__content
    //
  &__item
    //
  &__links
    //
  &__button
    //
