.nav

  &__layer
    position absolute
    top 0
    left 0
    width 100vw
    z-index 1

  &__container
    border-bottom 1px solid white
    display flex
    align-items center
    justify-content space-between
    margin 0 auto
    width 1024px

    //text-shadow -1px 1px 0 black
    
    span
      font-weight 900

    a
      color white
      font-weight 400
      padding .5rem 1rem

      &:hover
        background-color white
        border-radius 5px
        color indigo

  &__logo
    color white
